* {
  box-sizing: border-box;
  border: 0;
  margin: 0;
}


body{
  align-items: center;
  background-color: #ffffff;
  display: grid;
  justify-items: center;
  min-height: 100vh;
  padding-block: 4rem;
}

main{
  width: 80%;
}
.sedans,.suvs,.luxury{
  color: hsl(0, 0%, 100%);
  height: auto;
  padding: 2em;
}

.sedans{
  background-color: hsl(31, 77%, 52%);
  border-radius: .65em .65em 0 0;
}

.suvs{
  background-color: hsl(184, 100%, 22%);
}

.luxury{
  background-color: hsl(179, 100%, 13%);
  border-radius: 0 0 .65em .65em;
}

.sedans > img,
.suvs > img, 
.luxury > img{
  height: 1.6em;
}

.sedans > h1,
.suvs > h1, 
.luxury > h1 {
  font-family: 'Big Shoulders Display', sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: .04em;
  margin-block: .8em;
  text-transform: uppercase;
}

.sedans > p,
.suvs > p, 
.luxury > p {
  color: hsla(0, 0%, 100%, .6);
  font-family: 'Lexend Deca', sans-serif;
  font-size: .94rem;
  font-weight: 400;
  line-height: 1.4;
  margin-bottom: 1.5rem;
}

.sedans > .btn,
.suvs > .btn,
.luxury > .btn{
  background-color: #fff;
  border: 2px solid #fff;
  border-radius: 2.5em;
  display: inline-block;
  font-family: 'Lexend Deca', sans-serif;
  font-size: .7rem;
  font-weight: 400;
  /* margin-block: 1.35em; */
  outline: none;
  /* padding: .75em 1.8em; */
  padding-block: .95em;
  text-decoration: none;
  text-transform: capitalize;
  width: 63%;
}

.sedans > .btn{
  color: hsl(31, 77%, 52%);
}
.sedans > .btn:hover {
background-color: hsl(31, 77%, 52%);
color: #fff;
cursor: pointer;
}

.suvs > .btn{
  color: hsl(184, 100%, 22%);
}
.suvs > .btn:hover{
  background-color: hsl(184, 100%, 22%);
  color: #fff;
  cursor: pointer;
}

.luxury > .btn{
  color: hsl(179, 100%, 13%);
}
.luxury > .btn:hover{
  background-color: hsl(179, 100%, 13%);
  color: #fff;
  cursor: pointer;
}


@media (min-width: 48em) {
  main{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 85%;
  }
  .sedans{
    border-radius: .65em 0 0 .65em;
  }

  .luxury{
    border-radius: 0 .65em .65em 0;
  }
}
@media (min-width: 90em) { 
  main{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 60%;
  }
  .sedans{
    border-radius: .65em 0 0 .65em;
  }

  .luxury{
    border-radius: 0 .65em .65em 0;
  }
  .sedans > p,
.suvs > p, 
.luxury > p {
  margin-bottom: 4.5rem;
}

}